services:
  backend_streamlit:
    build:
      context: .
      dockerfile: Dockerfile.backend

    image: "backend_streamlit"
    container_name: backend_streamlit
    ports:
      - "${EXT_PORT_WEB}:${INT_PORT_WEB}"
    volumes:
      - ./backend:/backend
    restart: on-failure
#    environment:
#      MLFLOW_TRACKING_URI: "postgresql+psycopg2://${user_name}:${user_pass}@${host}:${port}/${data_base}?options=-csearch_path=${schema}"
    command: ["run", "backend.web_ui.py", "--server.maxMessageSize", "2048", "--server.maxUploadSize", "2048", "--server.port", "$INT_PORT_WEB"]

  mlflow_ui:
    build:
      context: .
      dockerfile: Dockerfile.mlflow
    container_name: mlflow_ui
    image: "mlflow_ui"
    ports:
      - "${EXT_PORT_FLOW}:${INT_PORT_FLOW}"

    environment:
      # Tracking Store — database
      MLFLOW_TRACKING_URI: "postgresql+psycopg2://${user_name}:${user_pass}@${host}:${port}/${data_base}?options=-csearch_path=${schema}"

      # Artifact Store — catalog with models
      MLFLOW_ARTIFACT_ROOT: "file:///mlruns"

    volumes:
      # local folder backend/mlruns ←→ /mlruns in container
      - ./backend/mlruns:/mlruns

    restart: on-failure

    command: [
      "--host", "0.0.0.0",
      "--port", "${INT_PORT_FLOW}",
      "--backend-store-uri", "postgresql+psycopg2://${user_name}:${user_pass}@${host}:${port}/${data_base}?options=-csearch_path=${schema}",
      "--default-artifact-root", "file:///mlruns"
    ]
  api:
    build:
      context: .
      dockerfile: Dockerfile.api  # по умолчанию, можно опустить
    image: "api"
#    dns:
#      - 1.1.1.1
#      - 8.8.8.8
    container_name: api_image
    restart: on-failure
    volumes:
      - ./backend:/backend
    ports:
      - "${EXT_PORT_API}:${INT_PORT_API}"
    command: [ "backend.main:app", "--port", "$INT_PORT_API", "--host", "$host_server" ]
    env_file:
      - .env
    # stdin_open: true  # docker run -i
    # tty: true         # docker run -t